#Ignoriamo i file automatici del finder Mac
.DS_Store

#Ignoriamo i bin
bin/

#Ignoriamo i file del progetto Eclipse
.classpath
.project
.settings/

#Ignoriamo i file del progetto InelliJ
.idea/
.metadata/

#Ignoriamo i file del progetto PyCharm
__pycache__/

# Ignoriamo i file di progetto VS Code
.vscode/
*.code-workspace

# === Microsoft Word ===
~$*           # Temporary Word files (iniziano con ~$)
*.tmp
*.lock

#Ignoriamo la cartella che l'editor utilizza per mettere i file temporanei
.texpadtmp/

#Ignoriamo i file automatici del finder Mac
.DS_Store

#Ignoriamo i bin
bin/

#Ignoriamo i file del progetto Eclipse
.classpath
.project
.settings/

#Ignoriamo i file del progetto InelliJ
.idea/
.metadata/
